---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/top_bar.astro";
let currentTime = new Date();
let year = currentTime.getFullYear();

interface Props {
  event01: string;
  event02: string;
  event03: string;
  event04: string;
  event05: string;
  event06: string;
  event07: string;
  event08: string;
  event09: string;
  event10: string;
  date01: string;
  date02: string;
  date03: string;
  date04: string;
  date05: string;
  date06: string;
  date07: string;
  date08: string;
  date09: string;
  date10: string;
  location01: string;
  location02: string;
  location03: string;
  location04: string;
  location05: string;
  location06: string;
  location07: string;
  location08: string;
  location09: string;
  location10: string;
}

const {
  event01 = "Römertage Aalen",
  event02 = "Event 2",
  event03 = "Event 3",
  event04 = "Event 4",
  event05 = "Event 5",
  event06 = "Event 6",
  event07 = "Event 7",
  event08 = "Event 8",
  event09 = "Event 9",
  event10 = "Event 10",
  date01 = "12.-13.09.2024",
  date02 = "Datum 2",
  date03 = "Datum 3",
  date04 = "Datum 4",
  date05 = "Datum 5",
  date06 = "Datum 6",
  date07 = "Datum 7",
  date08 = "Datum 8",
  date09 = "Datum 9",
  date10 = "Datum 10",
  location01 = "Limesmuseum, | St.-Johann-Straße 5, | 73430 Aalen",
  location02 = `Ort 2`,
  location03 = `Ort 3`,
  location04 = `Ort 4`,
  location05 = `Ort 5`,
  location06 = `Ort 6`,
  location07 = `Ort 7`,
  location08 = `Ort 8`,
  location09 = `Ort 9`,
  location10 = `Ort 10`,
} = Astro.props;
---

<Layout title="Events">
  <TopBar />
  <div id="events_body">
    <h1><u>Events {year}</u></h1>
    <strong id="top_text">Hier trefft ihr uns dieses Jahr an</strong>
    <div id="list_body">
      <ul>
        {
          event01 && (
            <ul>
              <strong>{event01}</strong>
              <li>{date01}</li>
              <li>{location01}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event02 && (
            <ul>
              <strong>{event02}</strong>
              <li>{date02}</li>
              <li>{location02}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event03 && (
            <ul>
              <strong>{event03}</strong>
              <li>{date03}</li>
              <li>{location03}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event04 && (
            <ul>
              <strong>{event04}</strong>
              <li>{date04}</li>
              <li>{location04}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event05 && (
            <ul>
              <strong>{event05}</strong>
              <li>{date05}</li>
              <li>{location05}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event06 && (
            <ul>
              <strong>{event06}</strong>
              <li>{date06}</li>
              <li>{location06}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event07 && (
            <ul>
              <strong>{event07}</strong>
              <li>{date07}</li>
              <li>{location07}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event08 && (
            <ul>
              <strong>{event08}</strong>
              <li>{date08}</li>
              <li>{location08}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event09 && (
            <ul>
              <strong>{event09}</strong>
              <li>{date09}</li>
              <li>{location09}</li>
            </ul>
          )
        }
        <p class="break"></p>
        {
          event10 && (
            <ul>
              <strong>{event10}</strong>
              <li>{date10}</li>
              <li>{location10}</li>
            </ul>
          )
        }
      </ul>
    </div>
  </div>
</Layout>

<style>
  @media (min-width: 250px) {
    #events_body {
      z-index: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      max-width: 45rem;
      margin: 8rem auto;
      box-shadow: 0px 0px 6px 0px var(--box-shadow);
      text-underline-offset: 0.5rem;
    }

    #top_text {
      margin-bottom: 2rem;
    }

    #list_body {
      background-color: var(--color-primary);
    }

    .break {
      content: "";
      display: block;
      padding: auto;
      margin: 0 -2.5rem;
      background-color: var(--color-background-primary);
      z-index: 1;
    }

    ul {
      margin: 2rem;
    }

    ul,
    li {
      list-style-position: inside;
      list-style-type: none;
      text-align: center;
      padding: 0rem 0.5rem 0rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: calc(var(--text-font-size-mobile) + 0.5rem);
      margin: auto;
      padding: 2rem 0;
      text-shadow: 2px 4px 2px var(--text-shadow);
    }

    p {
      font-size: var(--text-font-size-mobile);
      padding: 1rem 1rem 1rem;
      background-color: var(--color-primary);
      box-shadow: 0px 0px 6px 0px var(--box-shadow);
    }
  }

  @media (min-width: 768px) {
    body {
      font-size: var(--text-font-size);
    }
  }
</style>
