---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/top_bar.astro";
let currentTime = new Date();
let year = currentTime.getFullYear();

interface Props {
  event01: string;
  event02: string;
  event03: string;
  event04: string;
  event05: string;
  event06: string;
  event07: string;
  event08: string;
  event09: string;
  event10: string;
  date01: string;
  date02: string;
  date03: string;
  date04: string;
  date05: string;
  date06: string;
  date07: string;
  date08: string;
  date09: string;
  date10: string;
  location01: string;
  location02: string;
  location03: string;
  location04: string;
  location05: string;
  location06: string;
  location07: string;
  location08: string;
  location09: string;
  location10: string;
}

const {
  event01 = "Event 1",
  event02 = "Event 2",
  event03 = "Event 3",
  event04 = "Event 4",
  event05 = "Event 5",
  event06 = "Event 6",
  event07 = "Event 7",
  event08 = "Event 8",
  event09 = "",
  event10 = "",
  date01 = "Datum 1",
  date02 = "Datum 2",
  date03 = "Datum 3",
  date04 = "Datum 4",
  date05 = "Datum 5",
  date06 = "Datum 6",
  date07 = "Datum 7",
  date08 = "Datum 8",
  date09 = "Datum 9",
  date10 = "",
  location01 = "Ort 1",
  location02 = "Ort 2",
  location03 = "Ort 3",
  location04 = "Ort 4",
  location05 = "Ort 5",
  location06 = "Ort 6",
  location07 = "Ort 7",
  location08 = "Ort 8",
  location09 = "Ort 9",
  location10 = "",
} = Astro.props;
---

<Layout title="Events">
  <TopBar />
  <h1>Events {year}</h1>
  <p>Hier trefft ihr uns dieses Jahr an:</p>
  <ul>
    {
      event01 && (
        <ul>
          <li>{event01}</li>
          <li>{date01}</li>
          <li>{location01}</li>
        </ul>
      )
    }
    {
      event02 && (
        <ul>
          {event02}
          <li>{date02}</li>
          <li>{location02}</li>
        </ul>
      )
    }
    {
      event03 && (
        <ul>
          {event03}
          <li>{date03}</li>
          <li>{location03}</li>
        </ul>
      )
    }
    {
      event04 && (
        <ul>
          {event04}
          <li>{date04}</li>
          <li>{location04}</li>
        </ul>
      )
    }
    {
      event05 && (
        <ul>
          {event05}
          <li>{date05}</li>
          <li>{location05}</li>
        </ul>
      )
    }
    {
      event06 && (
        <ul>
          {event06}
          <li>{date06}</li>
          <li>{location06}</li>
        </ul>
      )
    }
    {
      event07 && (
        <ul>
          {event07}
          <li>{date07}</li>
          <li>{location07}</li>
        </ul>
      )
    }
    {
      event08 && (
        <ul>
          {event08}
          <li>{date08}</li>
          <li>{location08}</li>
        </ul>
      )
    }
    {
      event09 && (
        <ul>
          {event09}
          <li>{date09}</li>
          <li>{location09}</li>
        </ul>
      )
    }
    {
      event10 && (
        <ul>
          {event10}
          <li>{date10}</li>
          <li>{location10}</li>
        </ul>
      )
    }
  </ul>
</Layout>

<style>
  @media (min-width: 250px) {
  }
</style>
