---
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/top_bar.astro";

export const props = {
  spoilers: [
    {
      label: "MICCVS",
      content:
        "MICCVS stieß mehr oder weniger zufällig auf uns und wir auf ihn. Innerhalb kürzester Zeit legte er sich eine Ausrüstung zu und verstärkt die lokale Garnison.",
      image: "/public/darstellung_09.jpg",
    },
    {
      label: "Spoiler 2",
      content: "spiler 2 Text",
      image: "/public",
    },
    {
      label: "Spoiler 3",
      content: "Spiler 3 Text",
      image: "/public",
    },
  ],
};
---

<Layout title="MITGLIEDER">
  <TopBar />
  <div id="members_body">
    <h1><u>LEBENSLÄUFE AM LIMES</u></h1>
    <p>
      Leben am Limes ist die personifizierte, exemplarische Darstellung
      vergangener Lebensformen und Lebenswelten einer Grenzgesellschaft des 3.
      Jhd in den germanischen Provinzen. Diese biographische Annäherung erfolgt,
      um in der Vermittlung einen lebensweltlichen Bezug zu den nachgewiesenen
      Personen und Rollen in der antiken Grenzgesellschaft zu erreichen. Diese
      können in einer Entsprechung oder Kontrastierung eine emotionale
      Verbindung zur modernen Erfahrungswelt der Menschen schaffen (Arbeit,
      Familie, Kindheit, Alter). Dies ist der Schlüssel, um das Limesleben für
      heute nahe zu bringen.
    </p>
    <br />
    <p>
      Die einzelnen Biografien sind sorgfältig entworfen und sollen in der
      Zusammenschau einen repräsentativen Querschnitt der Limesbewohner
      abbilden. Entweder sind die jeweiligen Namen nachgewiesen oder die
      einzelne Rolle, Funktion des Mitglieds. Da wir in unserer Vermittlung nie
      die Gegenwart aus den Augen nehmen, wollen wir uns auch als die Menschen
      vorstellen, die sich der Antike im 21. Jahrhundert widmen. Diese
      Leidenschaft verbindet uns miteinander und vielleicht auch mit Ihnen? Nun
      wünschen wir eine interessante Lektüre!
    </p>
    <div class="spoilers-grid">
      {
        props.spoilers.map((spoiler, index) => (
          <div class="spoiler" key={index}>
            <img src={spoiler.image} alt={`Spoiler ${index}`} />
            <input type="checkbox" id={`spoilerCheckbox${index}`} />
            <label for={`spoilerCheckbox${index}`} class="spoiler-label">
              {spoiler.label}
            </label>
            <div class="spoiler-content">
              <p>{spoiler.content}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <p></p>
</Layout>

<style>
  #members_body {
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    margin: 8rem auto;
    box-shadow: 0px 0px 6px 0px var(--box-shadow);
    padding: 2rem 0 4rem;
    text-underline-offset: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: calc(var(--text-font-size-mobile) + 0.5rem);
    margin: auto;
    padding: 2rem 0;
    text-shadow: 2px 4px 2px var(--text-shadow);
  }

  p {
    font-size: var(--text-font-size-mobile);
    padding: 1rem 1rem 1rem;
    background-color: var(--color-primary);
    box-shadow: 0px 0px 6px 0px var(--box-shadow);
  }

  .spoilers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .spoiler {
    position: relative;
    margin: 20px 0;
  }

  .spoiler img {
    width: 100%;
    height: auto;
    display: block;
  }

  .spoiler-label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--color-light-2);
    background-color: var(--color-tertiary);
    border-radius: 20px;
  }

  .spoiler input {
    display: none;
  }

  .spoiler-content {
    display: none;
    margin-top: 10px;
    display: none;
  }

  .spoiler-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0 0;
  }

  input:checked + .spoiler-label + .spoiler-content {
    display: block;
  }
</style>
